{
  "sensor": "1",
  "version": "0.9",

  "timezone": "US/Central",
  "gpsTime": "true",

  "radsettings": {
    "HV": 580,
    "fineGain": 33168,
    "gain": 1100,
    "compression": 3,
    "holdOff": 78,
    "pulseThreshold": 10,
    "pileUp": 0
  },
  "sampleTime": 2,

  "baseCoords": {
    "latitude": 30.314745493,
    "longitude": -97.719284377,
    "range": 100
  },
  "ssid": "AtheyRadMap",
  "username": "root",
  "routerIp": "192.168.1.1",
  "target": "/mnt/sdb1/Data/",
  "placeholder": "none"
}
